env:
  WIREIT_FAILURES: kill

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
      - uses: google/wireit@setup-github-actions-caching/v1
      - run: npm ci
      - run: npx next build

    timeout-minutes: 10

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'

      - uses: google/wireit@setup-github-actions-caching/v2

      - run: npm ci

      - run: npm run check

    timeout-minutes: 10

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'

      - uses: google/wireit@setup-github-actions-caching/v2

      - run: npm ci

      - run: npm run test
    timeout-minutes: 10

on:
  pull_request:
    branches:
      - main
